body {
    margin: 0; 
    color: #ffffff;
    overflow: hidden;
  }

nav{
  position:absolute;
  left:0;
  right:0;
  z-index: 1;
  font-size: 25px;
}

nav ul{
  list-style: none;
  text-align: center;
  }
  
  nav ul li{
    display: inline-block;
    padding: 1% 1%;
  }

a {
  color: rgb(255, 255, 255);
  font-size: larger;
}

a:focus {
  outline: 0;
}